.form-wrapper {
  margin-top: 39px;
  margin-bottom: 33px;
  width: 458px;
  height: 60px;
  display: flex;
  justify-content: space-between;

  &__input {
    width: 290px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #A5A5A5;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 18px;
    padding-right: 18px;
  }

  &__remove-item {
    align-self: center;
    color: #B2B2B2;
    font-size: 30px;
    cursor: default;
  }
}

button {
  width: 155px;
  height: 60px;
  padding: 0;
  border: none;
  border-radius: 6px;
  font: inherit;
  color: #FFFFFF;
  outline: none;
  font-size: 20px;
  background-color: #419BF4;
}

button:hover {
  background-color: rgb(49, 138, 228);
  cursor: pointer;
}

button:active {
    background-color:rgba(96,40,168,1);
  top: 2px;
}

input[type="text"] {
  font-size: 20px;
  outline: none;
  border: 0;
  color: #333333;
  width: 90%;
}

input::-webkit-input-placeholder {
  color: #A5A5A5;
}

input::-moz-placeholder {
  color: #A5A5A5;
}